.card.mt-2
  .card-header
    if item
      h3
        span ویرایش
        span.text-muted= item.name
    else
      h3 محصول جدید
  .card-block
    form(method="post" action=(item ? "/admin/items/"+item._id : "/admin/items"))
      .row
        .form-group.col-md-4
          label کد محصول
          input.form-control(name="code", value=(item? item.code:false))
        .form-group.col-md-4
          label نام محصول
          input.form-control(name="name", value=(item? item.name:false))
        .form-group.col-md-4
          label قیمت به تومان
          input.form-control(name="price", type="number", value=(item? item.price:false))
        .form-group.col-md-4
          each model in models
            label.custom-control.custom-checkbox
              input.custom-control-input(type="checkbox", name='models[]' value=model.value, checked=(item &&  item.models.includes(model.value)))
              span.custom-control-description= model.label
              span.custom-control-indicator


          //- select.form-control(name="model")
          //-   each model in models
          //-     option(value=model.value, selected=(item? item.model:false))= model.label
        .col-12
          hr
          .form-group.row.my-3
            .col-md-4
              label طول
              input.form-control(name="size[tool]", type="number", step="0.1", value=(item ? item.size.tool:false))
            .col-md-4
              label عرض
              input.form-control(name="size[arz]", type="number", step="0.1", value=(item ? item.size.arz:false))
            .col-md-4
              label ارتفاع
              input.form-control(name="size[ertefa]", type="number", step="0.1", value=(item ? item.size.ertefa:false))
            .col-md-4
              label قطر
              input.form-control(name="size[ghotr]", type="number", step="0.1", value=(item ? item.size.ghotr:false))

        .col-12.form-group
          hr
          h4 رنگها
          each color in colors
            label.custom-control.custom-checkbox
              input.custom-control-input(type="checkbox", name="colors[]" value=color, checked=(item && item.colors.includes(color)))
              span.custom-control-description= color
              span.custom-control-indicator

      .row
        .col-12
          hr

        .form-group.col-12
          label نگهداری
          textarea.form-control(name="maintenance", rows="6")= item ? item.maintenance : null

        .form-group.col-12
          label توضیحات
          textarea.form-control(name="information", rows="6")= item ? item.information : null

        .form-group.col-12
          label خواص
          textarea.form-control(name="benefits", rows="6")= item ? item.benefits : null

        .form-group.col-12.ltr
          label Wiki
          input.form-control(name="links[][wiki]", value=(item && item.links.find(x=> x.name==='wiki') ? item.links.find(x=> x.name==='wiki')['url']:false) )

        .form-group.col-12
          h1  نامهای دیگر
          .d-flex.flex-wrap
            if item
              each name in item.names
                input.form-control.m-1(name="names[]", value=name, style="width:140px")
            input.form-control.m-1(name="names[]", style="width:140px")

        .form-group.col-12.text-left
          if item
            button.btn.btn-primary(type="submit") ویرایش محصول
          else
            button.btn.btn-primary(type="submit") افزودن محصول
