.card.mt-2
  .card-header
    if item
      h3
        span ویرایش
        span.text-muted= item.name
    else
      h3 محصول جدید
  .card-block
    form.row(method="post" action=(item ? "/admin/items/"+item._id : "/admin/items"))
      .form-group.col-md-4
        label نام محصول
        input.form-control(name="name", value=(item? item.name:false))
      .form-group.col-md-4
        label قیمت به تومان
        input.form-control(name="price", type="number", value=(item? item.price:false), required)
      .form-group.col-md-4
        label مدل
        select.form-control(name="model")
          each model in models
            option(value=model.value, selected=(item? item.model:false))= model.label
      .col-12
        .form-group.row
          .col-4
            label طول
            input.form-control(name="size[tool]", type="number", step="0.1", value=(item ? item.size.tool:false))
          .col-4
            label عرض
            input.form-control(name="size[arz]", type="number", step="0.1", value=(item ? item.size.arz:false))
          .col-4
            label ارتفاع
            input.form-control(name="size[ertefa]", type="number", step="0.1", value=(item ? item.size.ertefa:false))
          .col-4
            label قطر
            input.form-control(name="size[ghotr]", type="number", step="0.1", value=(item ? item.size.ghotr:false))

      .col-12
        each color in colors
          label.custom-control.custom-checkbox
            input.custom-control-input(type="checkbox", name="colors[]" value=color)
            span.custom-control-description= color
            span.custom-control-indicator

      .form-group.col-6
        label اطلاعات
        textarea.form-control(name="info")= item ? item.info : null

      .form-group.col-6
        label نگهداری
        textarea.form-control(name="maintenance")= item ? item.maintenance : null

      .form-group.col-12.text-left
        if item
          button.btn.btn-primary(type="submit") ویرایش محصول
        else
          button.btn.btn-primary(type="submit") افزودن محصول
