table.table.table-bordered
  tr
    th Name
    th images
    th Edit
  each item in items
    tr(class=item.hidden? 'bg-muted text-muted':'')
      td
        p= item.name
        p= item.size
        p= item.price
        p= item.modelsNames.join(' , ')
      td.small
        .row.mt-2
          .col-4.col-md-2
            a.btn.btn-primary(href='/admin/items/'+item.id+'/images') +عکس
          each img in item.images
            .col-4.col-md-2
              div
                +thumb(img, 50)
              a.btn.btn-sm(href="/admin/images/"+img+"/remove") remove
      td
        div
          a.btn.btn-sm.btn-secondary(href="/admin/items/"+item.id+'/remove') فعال / غیر فعال
        div
          a.btn.btn-sm.btn-secondary(href="/admin/items/"+item.id+"/edit") ویرایش
